{% load static %}

<div class="banner">
    <h1>Видео</h1>
    <img src="https://media.tenor.com/mQET3ehQSdIAAAAC/game-of-thrones-go-t.gif" style="width: 500px;
    margin-top: 30px;
    border: 3px rgb(245, 209, 9) solid;
    border-radius: 15px" alt="logo">

    <div class="navbar-main">
        <a href="{% url 'cutscenes' %}"><button class="nav_btn">Cинематики</button></a>
        <a href="{% url 'gameplay' %}"><button class="nav_btn">Игровой процесс</button></a>
    </div>

</div>